@use "../abtracts";
.shipping-info{
    &__script{
        display: flex;
        justify-content: space-between;

        @include abtracts.screen(sm){
            align-items: center;
        }
    }

    &__heading{
        flex: 2;
        font-size: 24px;
        font-weight: 700;
        line-height: 141.667%;
        padding-bottom: 30px;
        border-bottom: 1px solid #9E9DA8;
        @include abtracts.screen(md){
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    &__address{
        &-title{
            font-size: 18px;
            font-weight: 500;
            line-height: 144.444%;

            @include abtracts.screen(md){
                font-size: 16px;
                line-height:150%;
            }
        }
    
        &-desc{
            margin-top: 4px;
            font-size: 15px;
            font-weight: 400;
            line-height: 146.667%;

            @include abtracts.screen(md){
                font-size: 14px;
                line-height:  142.857% ;
            }
        }

        &-list{
            display: flex;
            gap: 10px;
            margin-top: 20px;
            list-style: disc inside;

            li {
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
            }
        }
    }

    &__add{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include abtracts.screen(md){
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item{
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: -3px;

        @include abtracts.screen(md){
            flex-direction: column;
            align-items: flex-start;
        }

        &-btn{
            @include abtracts.screen(md){
                margin-top: 16px;
                margin-left: -15px;
            }
        }
    }
    
    &__edit{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }

    &__ticken{
        width: 18.5px;
        height: 18.5px;
        flex-shrink: 0;
        accent-color: #67B044;
    }

  


}


.shipping-btn{
    border-radius: 50px;
    display: flex;
    padding: 18px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



