@use "../abtracts";

.filter-wrap{
    position: relative;
    z-index: 1;
}

.filter{
    
    position: absolute;
    border-radius:20px;
    top: 50px;
    right: 0;
    padding: 30px;
    background: var(--filter-form-bg);
    filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
    transition: opacity,visibility;
    transition-duration:0.2s ;

    @include abtracts.screen(xl){
        height: calc(100vh - 80px);
        overflow-y: auto;
        padding-bottom: 0px;
    }

   
    @include abtracts.screen(sm){
        padding: 20px;
        width: 80vw;
        overflow-y: auto;
    }
    

    &.hide{
        opacity: 0;
        visibility: hidden;
    }

    &__arrow{
        position: absolute;
        height: 20.5px;
        right: 15px;
        top: -17px;
        filter: var(--filter-arrow-bg);
    }

    &__heading{
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height:  145.455% ;
    }

    &__form{
        margin-top: 30px;

        

        &-group{
            margin-top: 20px;

            &-inline{
                display: flex;
                gap: 30px;
            }
        }

        &-slider{
            position: relative;
            height: 2px;
            width: 100%;
            background: #D2D1D6;

            &::before,&::after{
                content: "";
                position: absolute;
                top: 50%;
                translate: 0 -50%;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 6px solid #FFB700;
                background: var(--filter-form-bg);
            }

            &::before{
                left: var(--min-value);
            }

            &::after{
                left: var(--max-value);
            }

            
        }

        &-text-input{
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 0 16px;
            width: 334px;
            height: 44px;
            &-small{
                width: 121px;
                height: 36px;
                padding: 0 12px;
            }

            @include abtracts.screen(sm){
                width: 100%;
            }
        }

        &-text-input &-input{
            font-size: 1.4rem;
        }

        &-input{
           width: 100%;
           font-size: 15px;
           font-weight: 500;
           line-height:142.857% ;

           &::placeholder{
            font-weight: 400;
            color: #9e9da8;
           }
        }

        &-text-input
        {
            border-radius: 6px;
            border: 1px solid #D2D1D6;
        }


        &-input-icon{
            margin-left: 10.5px;
        } 

    }


    //end form

    &__content{
        @include abtracts.screen(xl){
            flex-direction: column;
        }
    }
    &__row{
        display: flex;
        
    }

    &__separate{
        width: 1px;
        margin: 0 30px;
        background: #EEEEEE;
        
        @include abtracts.screen(xl){
            width: 100%;
            height: 1px;
            margin: 30px 0;
        }
    }

    &__footer{
        display: flex;
        justify-content: flex-end;
        margin-top: 18px;

        @include abtracts.screen(xl){
            position: sticky;
            bottom: 0;
           background: transparent;
        }
    }

    &__cancel,&__result{
        height: 38px;
        padding: 0 10px;
    }

    &__cancel{
        font-size: 1.5rem;
        

        &-btn{
            @include abtracts.screen(md){
                display: none !important;
            }
        }
    }

    &__result{
        font-size: 1.4rem;
    }
}