@use "../abtracts";


*, ::before , ::after {
    box-sizing: border-box;
}



html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: Lato, sans-serif;
    color: var(--text-color);
   
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

img,a,button,input,textarea ,select{
    font-family: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}

input{
    background: transparent;
    width: 100%;
}
.icon{
    filter: var(--icon-color);
}

.container{
    @include abtracts.screen(sm){
        padding-left: 20px !important;
        padding-right: 20px !important;
    
    }
}
i,
em {
    font-style: italic;
}

b,
strong {
    font-weight: 600;
}